{% extends "base.html" %}


{% block content %}
<h1>Login</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label for="username">帳號</label>
    <input type="text" placeholder="帳號" name="username" id="username" value="{{username}}"><br>
    <label for="password">密碼</label>
    <input type="password" placeholder="密碼" name="password" id="password"><br>
    <p>
        <input type="submit" value="確認" name="login">
        <button type="reset">清除</button>

    </p>
</form>


{% endblock %}